<!DOCTYPE html>
<html  lang="ja">
  <head>
  <meta charset="utf8">
  <title>TENNIS SCORE DATA BASE</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/client1.js"></script>
    <h1>TENNIS SCORE DATA BASE</h1>
    <hr>
    <div id="field">     
    </div>
  </body>
</html>                                                     
  
