<!DOCTYPE html>
<html  lang="ja">
  <head>
  <meta charset="utf8">
    <meta name="viewport" content="width=device-width,initial-score=1,maximum-score=1,user-scalabele=no">
  <title>TENNIS SCORE DATA BASE</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/stage3.js"></script>
    <h1>TENNIS SCORE DATA BASE</h1>
    <p><a href="/" id="backhome">戻る</a></p>
    <hr>
    <ol>
      <div id="field">
    </ol>
    </div>
  </body>
</html>                                                     
  
