<!DOCTYPE html>
<html lang="ja">
<head>
    <link rel="stylesheet" href="/stylesheets/stage1.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-score=1,maximum-score=1,user-scalabele=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <title>TennisScore</title>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62506453-1', 'auto');
          ga('send', 'pageview');
       </script>
       <!-- /google analystics -->
      <!--<script type="text/javascript">
         /*window.onload = function(){};
         history.forward();*/
        function hideAdBar(){
          setTimeout(scrollTo(0,1),0);
        }
        window.onload = function(){
          window.scrollTo(0,0);
        }
      </script>--> 


</head>
  <body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/stage1.js"></script>
    <script>
    </script>
    <div id="loading">
      <img src="images/gif-load.gif">
    </div>
  <div id="container">
    <h1>TennisScore</h1> 
    <hr>
      <input type="button" class="button" value="Tennisスコアラー新規作成" id="create" name="bt1">
      <br><br>
      <input type="button" class="button" value="試合状況" name="bt2" onClick="location.href='/viewer'">
      <br><br>
      <input type="button" class="button" value="試合データ" name="bt3" onClick="location.href='/stage3'">
      <br><br>
      <input type="button" class="button" value="メッセージ" name="bt4" onClick="location.href='/stage4'">
      <br><br>
      <input type="button" class="button" value="使い方" name="bt5" onclick="location.href='/readme'">
      <br><br>
    </div>
      <!--shinobi ct2 -->
      <script type="text/javascript" src="http://ct2.tonosama.jp/sc/1707822"></script>
      <noscript><a href="http://ct2.tonosama.jp/gg/1707822"><img src="http://ct2.tonosama.jp/ll/1707822" border="0" alt="カウンター"/></a></noscript>
      <!-- /shinobi ct2 -->
      <!-- /google analystics -->
</body>
</html>
