<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/stylesheets/stage1.css">
  <meta charset="utf-8">
  <title>TennisScore</title>
</head>
  <body>

    <script src="/socket.io/socket.io.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/stage1.js"></script>
    <script src="/javascripts/client.js"></script>
    <script>
    </script>
    <h1>TennisScore</h1> 
    <hr>
  <form>
    <input type="button" value="Tennisスコアラー新規作成" id="create" name="bt1" onClick="location.href='/stage2'">
    <br><br>
    <input type="button" value="試合状況" name="bt2" onClick="location.href='/viewer'">
    <br><br>
    <input type="button" value="試合データだよ" name="bt3">
   </form>
   
</body>
</html>
