<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/stylesheets/stage2.css">
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-score=1,maximum-score=1,user-scalabele=no">
  <title>TennisScore</title>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-62506453-1', 'auto');
                ga('send', 'pageview');

              </script>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <div>
      <h1 class="text">Tennisスコアラー</h1>
      <p class="text"><a href="/" id="backhome">前のページに戻る</a></p>
    </div>
      <input type="text" value="作成者の名前を入力してください" class="player" id="cname" style="font-size:100%;height:30px;"name="creatername">
    <hr class="hhr">
      <p>
        <input type="radio" name="gametype" value="1" checked id="single">シングルス
        <input type="radio" name="gametype" value="2" id="double">ダブルス
      </p>
      <p>
        <input type="radio" name="set" value="1" checked id="set1">1set
        <input type="radio" name="set" value="3" id="set3">3set
        <input type="radio" name="set" value="5" id="set5">5set
      </p>
      <div id="player">
        <input type="text" name="usn1" value="Player1" id="usn1" class="player">
        <input type="text" name="usn3" value="Player2" id="usn3" class="player">
        <br>
        <input type="text" name="usn2" value="Player2" id="usn2" class="player">
        <input type="text" name="usn4" value="Player4" id="usn4" class="player">
        <br>
        <br>
        <hr class="hhr">
      </div>
      <h2 align="center" id="setst1" class="pl1">0</h2>
      <h2 align="center" id="setst2" class="pl2">0</h2>
      <h2 align="center" id="setst3" class="pl3">SET COUNT</h2>
      <br>
      <h2 align="center" id="gamest1" class="pl1">0</h2>
      <h2 align="center" id="gamest2" class="pl2">0</h2>
      <h2 align="center" id="gamest3" class="pl3">GAME COUNT</h2>
      <br> 
      <h2 align="center" id="score1" class="pl1">0</h2>
      <h2 align="center" id="score2" class="pl2">0</h2>
      <h2 align="center" id="score3" class="pl3">SCORE</h2>
      <br><br><br><br>
      <input type="button" name="change1" id="change1">
      <input type="button"name="change2" id="change2">
      <input type="button" name="changecort" id="chanco" value="CHANGE CORT">
      <input type="button" name="serverchange" id="schange" value="Server CHANGE"> 
      <input type="button" name="backdata" id="backdataid" value="1ポイント前に戻る"> 
      <div id="score">
       <!-- <input type="button" name="service" value="Service In" class="leftbt" id="service">
        <input type="button" name="return in" value="Return In" class="rightbt" id="returnin">
        <br> -->
        <input type="button" name="Serviceace" value="Servie ACE" class="leftbt" id="serviceace">
        <input type="button" name="Returnace" value="Return ACE" class="rightbt" id="returnace">
      <!--  <br>
        <input type="button" name="fault" value="Fault" class="leftbt" id="fault">
        <input type="button" name="return miss" value="Return Miss" class="rightbt" id="rm">
        <br>
        <input type="button" name="winning1" value="Winning Shot" class="leftbt" id="win1">
        <input type="button" name="winning2" value="Winning Shot" class="rightbt" id="win2" >
        <br>
        <input type="button" name="side out1" value="Side Out" class="leftbt" id="side1">
        <input type="button" name="side out2" value="Side Out" class="rightbt" id="side2">
        <br>
        <input type="button" name="back out1" value="Back Out" class="leftbt" id="back1">
        <input type="button" name="back out2" value="Back Out" class="rightbt" id="back2">
        <br>
        <input type="button" name="net1" value="NET" class="leftbt"id="net1">
        <input type="button" name="net2" value="NET" class="rightbt"id="net2">
        <br>-->
        
      </div>
      <audio id="sound15" preload="auto">
        <source src="/images/fifteen.wav" type="audio/wav">
      </audio>
      <audio id="sound30" preload="auto">
        <source src="/images/thirty.wav" type="audio/wav">
      </audio>
      <audio id="sound40" preload="auto">
        <source src="/images/forty.wav" type="audio/wav">
      </audio>
      <audio id="soundlove" preload="auto">
        <source src="/images/love.wav" type="audio/wav">
      </audio>
      <audio id="soundduese" preload="auto">
        <source src="/images/deuse.wav" type="audio/wav">
      </audio>
      <audio id="soundadre" preload="auto">
        <source src="/images/adrec.wav" type="audio/wav">
      </audio>
      <audio id="soundadserver" preload="auto">
        <source src="/images/adser.wav" type="audio/wav">
      </audio>
      <audio id="pointall" preload="auto">
        <source src="/images/all.wav" type="audio/wav">
      </audio>
  <script src="/javascripts/client.js"></script>
  <script src="/javascripts/pointcount.js"></script>
  <script src="/javascripts/tennis2-point.js"></script>
  <script src="/javascripts/stage2.js"></script>
  </body>
</html>
