<!DOCTYPE html>
<html lang = "ja">
  <meta charset="utf8">
  <title>TennisScore</title>
</head>
  <body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/client1.js"></script>
    <h1>VIEW GAME IN REAL TIME</h1>
    <hr>
    <div id="field">     
    </div>
  </body>
</html>                                                     
