<!DOCTYPE html>
<html lang = "ja">
<head>
  <link rel="stylesheet" href="/stylesheets/viewer.css">
  <meta charset="utf8">
  <title>TennisScore</title>
</head>
  <body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/client1.js"></script>
    <h1>VIEW GAME IN REAL TIME</h1>
    <p><a href="/" id="backhome">戻る</a></p>
    <hr>
    <p>応援メッセージを送ろう！！</p>
    <div>
      名前：<input type="text" id="chat-name" value="名前">
      コメント：<input type="text" id="comment" value="コメント">
      <input type="button" name="sendmessage" id="send" value="送信" style="width:100px;height:50px">
    <hr>
    </div>
    <div id="field" class="divv">     
    </div>
    <ul>
      <div id="chat-field" class="divv"></div>
    </ul>
  </body>
</html>                                                     
