<!DOCTYPE html>
<html lang = "ja">
  <link rel="stylesheet" href="/stylesheets/viewer.css">
  <meta charset="utf8">
  <title>TennisScore</title>
</head>
  <body>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/viewer.js"></script>
    <script src="/javascripts/client.js"></script>
    <h1>VIEW GAME</h1>
    <hr>
    <h2 id="text1" class="text">Text</h2>
    <h2 id="text2" class="text">Text</h2>
    <br>
    <h2 id="text3" class="text">Text</h2>
    <h2 id="text4" class="text">Text</h2>
    <br>
    <h2 id="text5" class="text">Text</h2>
    <h2 id="text6" class="text">Text</h2>
    <br>
    <h2 id="text7" class="text">Text</h2>
    <h2 id="text8" class="text">Text</h2>
    <br>
  </body>
</html>                                                     
