input[name="usn1"],input[name="usn2"]{
  position:absolute;
  width:45%;
  left:10px;
  border-color:#00aaff;
}
.rightbt{
  background-color:#ffaa00;
}
.leftbt{
  background-color:#00aaff;
}
.text{
  float:left;
}
#backhome{
  position:absolute;
  top:40px;
  margin-left:10px;
}
input[name="usn3"],input[name="usn4"]{
  position:absolute;                           
  width:45%;
  right:10px;
  border-color:#ffaa00;
}
input[name="usn2"],input[name="usn4"]{
  margin-top:10px;
}
input[name="service"],input[name="fault"],input[name="winning1"],input[name="side out1"],input[name="back out1"],input[name="net1"],input[name="Serviceace"]{       
  position:absolute;                        
  width:29%;
  left:5px;
}  
input[name="return in"],input[name="return miss"],input[name="winning2"],input[name="side out2"],input[name="back out2"],input[name="net2"],input[name="Returnace"]{
  position:absolute;
  width:29%;
  right:5px;
}  
input[name="Serviceace"],input[name="Returnace"]{
  margin-top:35px;
}
input[name="fault"],input[name="return miss"]{
  margin-top:70px;
}
input[name="winning1"],input[name="winning2"]{
  margin-top:105px;
}
input[name="side out1"],input[name="side out2"]{
  margin-top:140px;
}                   
input[name="back out1"],input[name="back out2"]{
  margin-top:175px;
}
input[name="net1"],input[name="net2"]{
  margin-top:210px;
}
#vhr{
  position:absolute;
  left:50%;
  top:83px;
  height:100%;
  background-color:green;
}
hr.hhr{
  height:5px;
  background-color:green;
}     
input[name="change1"]{
  position:absolute;
  left:32%;
  width:17%;
  height:150px;
  border:1px solid black;
  background-image:url("../images/stroke.jpg");
  background-size:100% 150px;
} 
#cname{
  width:98%;
}
input[name="change2"]{
  position:absolute;
  right:32%;
  width:17%;
  height:150px;
  border:1px solid black;
  background-image:url("../images/stroke.jpg");
  background-size:100% 150px;
}
#score1,#gamest1,#setst1{
  position:absolute;
  width:29%;
  left:10px;
  background-color:#00aaff;
}
#score2,#gamest2,#setst2{
  position:absolute;
  width:29%;
  right:10px;
  background-color:#ffaa00;
}
#score3,#gamest3,#setst3{
  position:absolute;
  width:29%;
  right:35%;
  background-color:#33FF99;
}
#setst1,#setst2{
  margin-top:5px;
}
#gamest1,#gamest2{
  margin-top:20px;
}
#score1,#score2{
  margin-top:35px;
}
#score3,#gamest3,#setst3{
  font-size:100%;
}
#setst3{
  margin-top:10px;
}
#gamest3{
  margin-top:25px;
}
#score3{
  margin-top:40px;
}
input[name="changecort"]{
  position:absolute;
  margin-top:160px;
  width:36%;
  left:32%;
  height:50px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  background-image:url("../images/tenniscort.jpg");
  background-size:100% 50px;
  font-size:100%;
}
input[name="serverchange"]{
  position:absolute;
  margin-top:220px;
  background-image:url("../images/tennisball.jpg");
  width:36%;
  left:32%;
  height:50px;
  background-size:100% 50px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  font-size:100%;
}
input[name="backdata"]{
  position:absolute;
  margin-top:280px;
  background-image:url("../images/backimage.png");
  width:36%;
  left:32%;
  height:50px;
  background-size:100% 50px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
  font-size:100%;
}
.leftbt,.rightbt{
  font-size:100%;
  height:50px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}
.pl1,.pl2,.pl3{
  border-style:solid;
}
