#chat-name{
  width:150px;
  height:20px;
  font-size:100%;
}
#comment{
  width:260px;
  height:20px;
  font-size:100%;
}
.divv{
  float:left;
}
#chat-field{
  margin-left:20px;
}
#container{display:none}
#loading{
  position:absolute;
  left:50%;
  top:40%;
  margin-left:-40px;
}
