<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="stage1.css">
  <link rel="shortcut icon" href="favicon.ico" />

  <meta charset="utf-8">
  <title>TennisScore</title>
</head>
  <body>
    <script src="stage1.js"></script>
    <script>
    </script>
    <h1>TennisScore</h1> 
    <hr>
  <form>
    <input type="button" value="Tennisスコアラー" name="bt1" onClick="location.href='tennistage2.html'">
    <br><br>
    <input type="button" value="試合状況" name="bt2">
    <br><br>
    <input type="button" value="試合データだよ" name="bt3">
   </form>
   
</body>
</html>
