 .menu{
   width:30%;
   background-color:#e6e6e6;
 }        
 .top{
   width:35%;
 }
 .playername{
   background-color:#e2ff66;
 }
 #fore1,#fore2,#stroke1,#stroke2{
   background-color:#ff66ff;
 }
#back1,#back2,#bolay1,#bolay2{
 background-color:#ffcc66;
}
