<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="stage3.css">
  <link rel="shortcut icon" href="favicon.ico" />

  <meta charset="utf-8">
  <title>TennisScore</title>
</head>
<body>
  <h1>RESULT</h1>
  <table border="3" width="100%" height="20">
    <tr>
      <td align="center" id="user" class="menu">menu</td>
      <td align="center" colspan="2" id="username1" class="playername">playername1</td>
    </tr>
    <tr>
      <td align="center" id="username1" class="menu">side</td>
      <td align="center" id="fore1" class="top">fore</td> 
      <td align="center" id="back1" class="top">back</td>
    </tr>
    <tr>
      <td align="center" id="point1" class="menu">獲得ポイント</td>
      <td align="center" id="fpoint1" class="top">1</td>
      <td align="center" id="bpoint1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">firstserve</td>
      <td align="center" id="ffs1" class="top">1</td> 
      <td align="center" id="bfs1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">secondserve</td> 
      <td align="center" id="fss1" class="top">1</td>>
      <td align="center" id="bss1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">doublefault</td>
      <td align="center" id="fdf1" class="top">1</td> 
      <td align="center" id="bdf1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">serviceace</td>
      <td align="center" id="fsa1" class="top">1</td>
      <td align="center" id="bsa2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">returnmiss</td>
      <td align="center" id="frm1" class="top">1</td> 
      <td align="center" id="brm1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">returnace</td> 
      <td align="center" id="fra1" class="top">1</td>
      <td align="center" id="bra1" class="top">2</td> 
    </tr>
    <tr>
      <td align="center"  class="menu">position</td>
      <td align="center" id="stroke1" class="top">stroke</td> 
      <td align="center" id="bolay1" class="top">bolay</td>
    </tr>
    <tr>
      <td align="center"  class="menu">Winning SHEOT</td> 
      <td align="center" id="fws1" class="top">1</td>
      <td align="center" id="bws1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">Back OUT</td>
      <td align="center" id="fbo1" class="top">1</td> 
      <td align="center" id="bbo1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">Side OUT</td> 
      <td align="center" id="fso1" class="top">1</td>
      <td align="center" id="bso1" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">NET</td>
      <td align="center" id="fnet1" class="top">1</td> 
      <td align="center" id="bnet1" class="top">2</td>
    </tr>
  </table>
  <table border="3" width="100%" height="20">
    <tr>
      <td align="center" id="user" class="menu">menu</td>
      <td align="center" colspan="2"id="username2" class="playername">playername1</td>
    </tr>
    <tr>
      <td align="center" id="username1" class="menu">side</td>
      <td align="center" id="fore2" class="top">fore</td> 
      <td align="center" id="back2" class="top">back</td>
    </tr>
    <tr>
      <td align="center" id="point2" class="menu">獲得ポイント</td>
      <td align="center" id="fpoint2" class="top">1</td>
      <td align="center" id="bpoint2" class="top">2</td>
    </tr>   
    <tr>
      <td align="center" class="menu">firstserve</td>
      <td align="center" id="ffs2" class="top">1</td> 
      <td align="center" id="bfs2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">secondserve</td> 
      <td align="center" id="fss2" class="top">1</td>>
      <td align="center" id="bss2" class="top">2</td>
    </tr>
    <tr>
      <td align="center" class="menu">doublefault</td>
      <td align="center" id="fdf2" class="top">1</td> 
      <td align="center" id="bdf2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">serviceace</td>
      <td align="center" id="fsa2" class="top">1</td>
      <td align="center" id="bsa2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">returnmiss</td>
      <td align="center" id="frm2" class="top">1</td> 
      <td align="center" id="brm2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">returnace</td> 
      <td align="center" id="fra2" class="top">1</td>
      <td align="center" id="bra2" class="top">2</td> 
    </tr>
    <tr>
      <td align="center"  class="menu">position</td>
      <td align="center" id="stroke2" class="top">stroke</td> 
      <td align="center" id="bolay2" class="top">bolay</td>
    </tr>
    <tr>
      <td align="center"  class="menu">Winning SHEOT</td> 
      <td align="center" id="fws2" class="top">1</td>
      <td align="center" id="bws2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">Back OUT</td>
      <td align="center" id="fbo2" class="top">1</td> 
      <td align="center" id="bbo2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">Side OUT</td> 
      <td align="center" id="fso2" class="top">1</td>
      <td align="center" id="bso2" class="top">2</td>
    </tr>
    <tr>
      <td align="center"  class="menu">NET</td>
      <td align="center" id="fnet2" class="top">1</td> 
      <td align="center" id="bnet2" class="top">2</td>
    </tr>
  </table>   
   
     

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
  <script src="stage3.js"></script>
<body>
</html>
